<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdvancedAligner.Properties.OpenAiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AdvancedAligner.Properties.OpenAiSettings>
            <setting name="AiModel" serializeAs="String">
                <value>gpt_4_1_mini</value>
            </setting>
            <setting name="FirstReference" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReference" serializeAs="String">
                <value />
            </setting>
            <setting name="ReferenceList" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxPromptVerses" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OutputPromptFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputResultFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequestNotes" serializeAs="String">
                <value>False</value>
            </setting>
        </AdvancedAligner.Properties.OpenAiSettings>
    </userSettings>
</configuration>